<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="login-container">
        <h2 class="login-title">Login</h2> <!-- Login 글귀 -->
        <form action="/login" method="post">
            <input type="text" name="userName" placeholder="ID" required>
            <input type="password" name="pwd" placeholder="Password" required>
            <input type="submit" value="Login">
        </form>
        <!-- 로그인 실패 시 에러 메시지 표시 -->
        <p th:if="${error}" th:text="${error}" class="error-message"></p>
    </div>
</body>
</html>
