<!DOCTYPE html>
<html>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/cornerstone-core/dist/cornerstone.js"></script>
<script src="https://unpkg.com/cornerstone-tools"></script>
<script src="https://unpkg.com/dicom-parser"></script>
<script src="https://unpkg.com/cornerstone-wado-image-loader"></script>
<script src="https://unpkg.com/cornerstone-tools/dist/cornerstoneTools.js"></script>
<link href="css/StudyList.css" rel="stylesheet" />
<script src="js/StudyList.js"></script>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<style>

	</style>
</head>
<div th:replace="~{/fragments/header.html :: fragment-menu}"></div>

<body>
	<table>
		<tr>
			<th>검사설명</th>
			<th>장비</th>
			<th>검사날짜</th>
			<th>환자아이디</th>
			<th>환지이름</th>
			<th>환자성별</th>
			<th>환자생일</th>
			<th>시리즈건수</th>
			<th>이미지건수</th>
			<th>판독결과</th>
		</tr>
		<!--for 문-->
		<tr th:each="study : ${study}" th:ondblclick="|location.href='@{/ImageTabList(studyKey=${study.studyKey})}'|"
			th:data-pid="${study.pid}" th:data-pname="${study.pname}" th:data-studyKey="${study.studyKey}"
			onclick="studyPast(this)">

			<td th:text="${study.studyDesc}!= null ? ${study.studyDesc}: '이름없음'"></td>
			<td th:text="${study.modality}"></td>
			<td th:text="${study.studyDate}"></td>
			<td th:text="${study.pid}"></td>
			<td th:text="${study.pname}"></td>
			<td th:text="${study.psex}"></td>
			<td th:text="${study.pBirthDateTime}"></td>
			<td th:text="${study.seriesCnt}"></td>
			<td th:text="${study.imageCnt}"></td>
			<td th:text="${study.reportStatus}==3 ? 
						'읽지않음':(${study.reportStatus}==5 ?
						'예비판독':'판독')"></td>
		</tr>
	</table>
	<a th:if="${nowPage > 0}" th:href="@{StudyTabList(nowPage=${nowPage-1})}">이전</a>
	<span th:text="${nowPage+1}"></span>
	<a th:if="${nowPage < totalPages}" th:href="@{StudyTabList(nowPage=${nowPage+1})}">다음</a>

	<div>
		<div>과거 검사 이력</div>

		<table>
			<span>환자 아이디 :</span> <span id="pid"></span> &emsp;&emsp;
			<span>환자 이름 : </span> <span id="pname"></span>
			<tr>
				<th>검사장비</th>
				<th>검사설명</th>
				<th>검사일시</th>
				<th>판독상태</th>
				<th>시리즈</th>
				<th>이미지</th>
			</tr>
			<tbody id="studyPastList">
			</tbody>
		</table>
		<div class="viewer-container" id="dicomViewer" th:ondblclick="imageTabList()">
		</div>
	</div>
</body>
</html>