<div th:fragment="fragment-report">
<head>
<meta charset="UTF-8">
<title>Report</title>
</head>

<body>

	<div class="calendar_report-container">
         <div>리포트</div>
         <label for="comment">[코멘트]</label>
         <textarea id="comment" placeholder="코멘트를 입력하세요" rows="4"></textarea>

         <label for="exploration">[탐색]</label>
         <textarea id="exploration" placeholder="탐색 내용을 입력하세요" rows="4"></textarea>

         <label for="conclusion">[결론]</label>
         <textarea id="conclusion" placeholder="결론을 입력하세요" rows="4"></textarea>

         <label for="recommendation">[권장]</label>
         <textarea id="recommendation" placeholder="권장 사항을 입력하세요" rows="4"></textarea>
    </div>

      <button id="saveReport" onclick="saveReport()">저장</button>
      
   
</body>
</div>